In [ ]:
students:list[list]= [
                        ['robert',78,92,65],
                        ['jenny',65,96,72],
                        ['alice',85,72,95]
                    ]

students

In [ ]:
students:list[dict] = [
    {'name':'robert','chinese':78,'english':92,'math':65},
    {'name':'jenny','chinese':78,'english':92,'math':65},
    {'name':'alice','chinese':78,'english':92,'math':65}
]
students